<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
<title tiles:fragment="title">Sign Up</title>
</head>

<body>
	<form action="#" th:action="@{/user/add}" th:object="${user}"
		method="post">
		<fieldset>
			<legend>Sign-Up</legend>
			<div>
				<label for="username">Email :</label> <input type="email"
					placeholder="email" th:field="*{username}" />
			</div>
			<div>
				<label for="password">Password :</label> <input type="password"
					placeholder="password" th:field="*{password}" />
			</div>
			<button type="submit" name="submit" value="save">Sign-Up</button>
		</fieldset>
	</form>
</body>

</html>